/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  color: #777;
}

ul.my-nav {
 list-style-type: none;
 padding-top: .75rem;
 padding-bottom: .75rem;
 background-color: #e8e8e8;
}

ul.my-nav li {
  display: inline;
  margin: 2rem;
}

ul.my-nav a {
 color: #999;
 font-size: 1.75rem;
 font-weight: 300;
 padding-bottom: 2rem;
}

ul.my-nav a:hover {
  color: #555;
  text-decoration: none;
}

ul.my-nav a:active {
  color: #ff7910;
}